button {
  background-color: #EF6C33;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #0C4A60;
}
p {
  font-size: 14px;
}

@media (max-width: 600px) {
  .home {
    display: block;
  }
  .profile {
    margin: 0
  }

  .landing-content>div {
    width: 90%;
  }
}
