.header {
  background-color: #333D51;
  color: #F4F3EA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100%;
  position: sticky;
  top: 0;
}

.header h1 {
  font-size: 2em;
}


