.home {
  background-color: #E1DDDB;
  color: #0C4A60;
  font-family: Arial, sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.main {
  max-width: 1000px;

}

h1 {
  color: #EF6C33;
}

.description {
  margin-bottom: 30px;
}

.tests-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}

.test {
  background-color: #ABDFF1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}

.test h1 {
  color: #0C4A60;
}

.test p {
  color: #0C4A60;
  margin-bottom: 15px;
}

button {
  background-color: #EF6C33;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0C4A60;
}
