.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #E1DDDB;
}


.landing-content {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  text-align: center;
  background-color: #0C4A60;
  color: #E1DDDB;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-content>div {
  width: 40%;
}
.landing-content p {
  color: #E1DDDB;;
}

.button-container {
  margin-top: 20px;
}

.signup-button {
  padding: 10px 20px;
  color: #E1DDDB;
  background-color: #EF6C33;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}
.landing-container.entering {
  opacity: 0;
  transform: translateX(-100%);
}

.landing-container.entered {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}

.landing-container.exiting {
  opacity: 1;
  transform: translateX(100%);
}

.landing-container.exited {
  opacity: 0;
  transition: opacity 500ms;
}
