.landing-page {
  background-color: #CBD0D8;
  color: #333D51;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  transition: all 0.5s ease;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.landing-page header {
  text-align: center;
}

.landing-page h1 {
  font-size: 2em;
}

.landing-page h2 {
  font-size: 1.5em;
  margin-top: 15px;
}

.landing-page p {
  font-size: 1em;
  line-height: 1.5em;
  max-width: 800px;
  text-align: justify;
}

.landing-page button {
  background: #D3AC2B;
  margin: 10px;
  color: #333D51;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.2em;

}

.landing-page button:hover {
  background: #F4F3EA;
  transform: scale(1.05);
}
