.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 80%;
  background-color: #F4F3EA;
  color: #333D51;
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-button {
  padding: 5px 10px;
  color: #333D51;
  background-color: #D3AC2B;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-button:hover {
  background-color: #B9931D;
}

.profile h2 {
  color: #D3AC2B;
}

.profile-data {
  margin-top: 20px;
}

.profile-item {
  margin-bottom: 10px;
}

.profile-key {
  font-weight: bold;
}

.profile-value {
  font-style: italic;
}
