.test-container {
  display: flex;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #E1DDDB;
  color: #0C4A60;
  border-radius: 15px;
  flex-direction: column;
}

.form {
  margin-top: 20px;
}

.question {
  margin-bottom: 20px;
}

.question label {
  display: block;
  margin-bottom: 10px;
}

.slider-container {
  display: flex;
  align-items: center;
}
.back-button {
  border-radius: 5px;
}
.slider-container input[type="range"] {
  flex-grow: 1;
  margin-right: 10px;
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider-container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #0C4A60;
  border-radius: 50%;
  cursor: pointer;
}

.slider-container input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #0C4A60;
  border-radius: 50%;
  cursor: pointer;
}

.slider-container input[type="range"]:focus {
  outline: none;
}

.slider-container input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #E1DDDB;
}

.slider-value {
  width: 30px;
  text-align: center;
  color: #ABDFF1;
  background-color: #0C4A60;
  border-radius: 5px;
  margin-left: 10px;
}

.submit-button {
  display: block;
  margin: 30px auto;
  padding: 10px 20px;
  color: #E1DDDB;
  background-color: #0C4A60;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #EF6C33;
}
.unanswered {
  color: red;
}